
        body{
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
        }
        #leftDiv{
            flex: 1;
            /* height: 100vh; */
            background-color: whitesmoke;
            color: #01050d;
        }
        #rightDiv{
            flex: 1;
            /* height: 100%; */
            background-color: #01050d ;
        }
        #boxId{
            margin: 20% 0;
            height: 40%;
            width: 100%;
            outline: none;
            border: 1px solid whitesmoke;
        }
        textarea{
            background-color: rgba(5, 10, 20, 0.575);
            font-size: xx-large;
            color: aliceblue;
        }
        #containerId{
            display: flex;
            justify-content: space-between;
            margin-left: 9px;
        }
        .checkBtn{
            cursor: pointer;
            height: 12px;
            width: 12px;
        }
        .closeBtn{
            margin-right: 2px;
            margin-bottom: 2px;
            border: none;
            background: none;
            cursor: pointer;
        }
        #clearAll{
            border: 1px solid whitesmoke;
            background-color: #01050d;
            color: whitesmoke;
            cursor: pointer;       
            text-align: center;
            margin-left: 47%;
            padding: 2vh 2vw;
            font-size: 3vh;
        }